@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f3640;
  color: white;
  font-family: "Cherry Bomb One", cursive;
}
.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 1.5rem;
}
nav {
  display: flex;
  gap: 5rem;
  padding-bottom: 1.5rem;
}
.nav-button {
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: inherit;
}
.nav-button:hover {
  color: #2f3640;
  cursor: pointer;
}
.home {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #2f3640;
}
.home p {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.home img {
  width: 35%;
  margin-top: 1rem;
  border-radius: 5%;
}
.menu {
  width: 100vw;
  height: 75vh;
  background-color: white;
  color: #2f3640;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-description {
  font-size: 1.2rem;
}
.menu-title,
.menu-description,
.menu-price,
.menu-hr {
  margin-top: 1rem;
}
.menu-hr {
  width: 20vw;
  margin-bottom: 3rem;
  height: 0.2rem;
  background-color: #2f3640;
}
.about {
  width: 100vw;
  height: 75vh;
  background-color: white;
  color: #2f3640;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .phone,
.about .address {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.about img {
  width: 35%;
  border-radius: 5%;
}
.footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.fa-github {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
